---
import Base from "../../layouts/Base.astro";
import { getCollection } from "astro:content";
import Card from "../../components/team/card.astro";
const getOrder = (category: "c" | "frontend" | "backend" | undefined) => {
  switch (category) {
    case "c":
      return 1;
    case "frontend":
      return 2;
    case "backend":
      return 3;
    default:
      return 999; // handle any unexpected categories
  }
};

const authors = await getCollection("authors");

const team = authors.sort((a, b) => {
  return getOrder(a.data.category) - getOrder(b.data.category);
});
---

<Base title="The Team" description="The People behind Pyro">
  <div class="grid grid-cols-2 lg:grid-cols-4 gap-4 content-evenly">
    {team.map((member) => <Card {...member} />)}
  </div>
</Base>
