---
title: Embracing SvelteKit
date: 2024-8-12
authors:
    - Evan
    - Elizabeth
---

## PROLOGUE
:3  
:3  
:3  
:3  
:3  
:3  
:3  
:3  
:3  
:3  
:3  
:3  
:3  
:3  
:3  
:3  
:3  
:3  
:3  
:3  
:3  
:3  
:3  
:3  
:3  
:3  
:3  
:3  
:3  
:3  
:3  
:3  
:3  
:3  
:3  
:3  
:3  
:3  
:3  
:3  
:3  
:3  
:3  
:3  
:3  
:3  
:3  
:3  
:3  
:3  
:3  
:3  
:3  
:3  
:3  
:3  
:3  
:3  
:3  
:3  
:3  
:3  
:3  
:3  
:3  
:3  
:3  
:3  
:3  
:3  
:3  
:3  
:3  
:3  
:3  
:3  
:3  
:3  
:3  
:3  
:3  
:3  
:3  
:3  
:3  
:3  
:3  
:3  
:3  
:3  
:3  
:3  
:3  
:3  
:3  
:3  
