---
title: Our partnership with Modrinth 
date: 2024-12-08
authors:
    - Evan
---

## PROLOGUE
It started over a cup of coffee. Two founders meeting for the 
first time, united over one shared vision: to build a better 
hosting industry.

Modrinth is the de-facto platform for Minecraft mods, plugins, 
datapacks, shaders, and content. Today, it's your place to start 
a multiplayer server, powered by Pyro's infrastructure.

(todo: add more content here)