---
title: medium post
date: 2024-02-6
authors: 
    - "Elizabeth"
    - "Evan"
    - "nullptr"
image: placeholder.png
---

this post demonstrates a special case where there is no right post. in this case, the post size will be medium below a large one.