---
import Base from "../layouts/Base.astro"
---

<Base>
    <div class="p-12">
        <h1 class="text-9xl font-bold text-center">404</h1>
    <p class="text-4xl text-center">Page not found</p>
    
    </div>
</Base>
