---
import BaseLayout from "../layouts/Base.astro";
// import bg from "../assets/bg.png";
import PostPreviews from "../components/landing/PostPreviews.astro";
import { getCollection } from "astro:content";
const blogPosts = await getCollection("posts", ({data}) => {
  return import.meta.env.PROD ? data.draft !== true : true;
});
---

<BaseLayout>
  <!-- redo that image import for optimization -->
  <div
    style="background-image: url('/assets/bg.png'); background-size: cover; background-position: center;"
    class="hidden h-fit w-full flex-col items-center border-b border-dashed border-neutral-800 px-8 py-7 text-white xl:flex xl:flex-row [&>*]:leading-normal"
  >
    <h1
      class="mb-4 w-full flex-shrink-0 flex-grow text-left text-2xl font-bold xl:max-w-[calc(50%-2px)] xl:pr-32 xl:text-3xl"
    >
      Pyro develops gaming's most advanced software.
    </h1>
    <div class="hidden h-16 w-0.5 flex-shrink-0 bg-white/30 xl:block"></div>
    <h1
      class="w-full flex-shrink-0 flex-grow text-right text-2xl font-bold xl:max-w-[calc(50%-2px)] xl:pl-32 xl:text-3xl"
    >
      We're makers at heart, and this is our story.
    </h1>
  </div>
  <PostPreviews posts={blogPosts.map((p) => p)} /> 
</BaseLayout>
